html, body {
    min-height: 100%;
    height: 100%;
}

.advert {
    position: relative;
    height: 100%;
    width: 100%;
}

.circle {
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
}

.rect {
    border-radius: 0;
    height: 25px;
    position: absolute;
    width: 25px;
}